.infoWrapper {
    .info {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        transition: all 500ms cubic-bezier(0.77, 0.07, 0.25, 1);
        transition-delay: 600ms;
        & > h2 {
            margin: 1rem 0;
        }
        .contact {
            display: flex;
            align-items: center;
            gap: 0.8rem;
            margin: 0;
            padding: 0;

            .item {
                display: flex;
                align-items: center;
                justify-content: center;
                box-shadow: 0px 5px 14px -1px rgb(255 255 255 / 10%);
                cursor: pointer;
                z-index: 10;
                &.discord {
                    --opacity: 0;
                    position: relative;
                    &::before {
                        content: "Copied";
                        position: absolute;
                        top: -40px;
                        font-size: 0.875rem;
                        background-color: #1ed860;
                        padding: 0.3rem;
                        border-radius: 4px;
                        opacity: var(--opacity);
                        transition: opacity 200ms ease;
                    }
                    &::after {
                        content: "";
                        background-color: #1ed860;
                        position: absolute;
                        top: -18px;
                        width: 12px;
                        height: 12px;
                        transform: rotate(45deg);
                        z-index: -1;
                        opacity: var(--opacity);
                        transition: opacity 200ms ease;
                    }
                }
            }
        }
        .avatar {
            width: 6rem;
            aspect-ratio: 1 / 1;
            border-radius: 10px;
        }
    }
}

.backButton {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 500px;
    top: 25px;
    right: 25px;
    // transform: scale(1) !important;
    transform-origin: top right;
    color: black;
    padding: 1.5rem;
    cursor: pointer;
    position: absolute;
    width: 2rem;
    height: 2rem;
    background-color: white;
    opacity: 0;
    animation: fade-thingy 200ms ease 800ms forwards;
}

@keyframes fade-thingy {
    100% {
        opacity: 1;
    }
}
